* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #181d33;
  font-family: 'Outfit', sans-serif;
}

/*header*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
}
header div span {
  font-weight: 900;
  color: white;
  font-size: clamp(2rem, 1.333rem + 1.333vw, 3rem);
  margin-right: 10px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 45px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: clamp(1.5rem, 0.967rem + 1.067vw, 1.8rem);
  transition: all 0.2s ease-in;
}

header nav ul li a:hover {
  color: #20b9b9;
}

.abrir-menu,
.cerrar-menu {
  display: none;
  margin-top: 10px;
}

.bi {
  color: white;
}

/*section title*/

.main-index__section-title {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.main-index__section-title__article-text {
  max-width: clamp(31.25rem, -12.153rem + 69.444vw, 62.5rem);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.main-index__section-title__article-text h1 {
  font-size: clamp(2rem, -0.43rem + 5.981vw, 4.5rem);
  color: #20b9b9;
  width: 13.5ch;
  animation: animacion 1.6s steps(16), transparent step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;

  /* border-right: 3px solid #24afaf; */
}

@keyframes animacion {
  from {
    width: 0px;
  }
}

@keyframes transparent {
  50% {
    border-color: transparent;
  }
}

.main-index__section-title__article-text span {
  font-size: clamp(1.3rem, 0.589rem + 2.243vw, 2.5rem);
  font-weight: 900;
  color: white;
  transition: all 0.3s ease-in-out;

  cursor: default;
}
.main-index__section-title__article-text span span {
  color: #20b9b9;
}

.main-index__section-title__article-text p {
  font-size: clamp(1rem, 0.414rem + 1.196vw, 1.5rem);
  color: rgba(255, 255, 255, 0.637);
}
.main-index__section-title__article-text div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

.main-index__section-title__article-text div img {
  width: clamp(2.5rem, 2.041rem + 1.02vw, 4.125rem);
  cursor: pointer;
}

.main-index__section-title__article-image figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.main-index__section-title__article-image figure img {
  max-width: clamp(20.625rem, -3.523rem + 30.909vw, 29.25rem);
  width: 100%;
  border-radius: 50%;
  background-color: #20b9b9;
  border: solid 5px white;
  transition: all 0.3s ease-in-out;
}

.main-index__section-title__article-image figure img:hover {
  background-color: transparent;
  border: none;
  border-radius: 30%;
  scale: 1.2;
}

/*************************************************************************************************************/

@media screen and (max-width: 1080px) {
  body {
    background-image: url(../assets/bg-header-mobile.png);
  }
  .main-index__section-title {
    text-align: center;
    padding-top: 200px;
    flex-direction: column;
  }
  .main-index__section-title__article-text {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 3rem;
    background-color: transparent;
    cursor: pointer;
  }

  header nav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
    background-color: #1a2036;
    padding: 2rem;
    transition: all 0.2s ease-in;
    box-shadow: 0px 0px 50px 1000px rgba(0, 0, 0, 0.411);
  }
  header nav ul {
    flex-direction: column;
    align-items: end;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .main-index__section-title__article-image figure img {
    width: 80%;
  }
}

/* actualizacion */
